.navbar-container{
    
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.starlink-center-logo{
    cursor: pointer;
    height: 35px;
    width: 123px;
    margin-top: 21px;
    padding-left: 675px; 
}
.nav-text{
    cursor: pointer;
    color: white;
    margin-top: 40px;
}
@font-face {
    font-family: Roboto;
    src: url(Language/Roboto-MediumItalic.ttf);
}